@model IEnumerable<MartianRobots.Models.MartianWorldHistory>

@{
    ViewData["Title"] = "History";
}

<h1>History</h1>

<div class="table-wrapper">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.WorldInput)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WorldResult)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExecutionDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <span style="white-space: pre-line">@Html.DisplayFor(modelItem => item.WorldInput)</span>
                    </td>
                    <td>
                        <span style="white-space: pre-line">@Html.DisplayFor(modelItem => item.WorldResult)</span>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExecutionDate)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

